<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/skills.css">
  <title>Level Up Skill</title>
</head>
<body>
  <h1>LEVEL UP: Add New Skill</h1>
  <form 
  action="/skills"
  method="POST"
  autocomplete="off">
  <h2>Skill Name</h2>
  <input type="text" name='skill'>
  <h2>Description</h2>
  <input type="text" name="description">
  <button type="submit"> Level Up</button>
</form>
<a href="/skills">Back</a>
</body>
</html>